.logo {
    float: left;
    width: 75px;
    height: 37px;
    margin: 16px 24px 16px 0;
}

.menu-search {
    float: right;
    width: 304px;
    height: 50px;
}

.pageButton {
    margin: 12px 10px;
    justify-content: center;
    display: flex;
    background: #001529;
    border-color: #001529;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}